<!DOCTYPE html>
<html>
<title>THE FRUIT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    


<nav class="w3-sidebar w3-black w3-animate-right w3-xxlarge" style="display:none;padding-top:150px;right:0;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-black w3-xxxlarge w3-display-topright" style="padding:0 12px;">
    <i class="fa fa-remove"></i>
  </a>
  <div class="w3-bar-block w3-center">
    <a href="" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">HOME</a>
    <a href="photo" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">PHOTO FRUIT</a>
    <a href="about" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">ABOUT FRUIT</a>
    <a href="contact" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">CONTACT</a>
    <a href="services" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">WEB SERVICES</a>
  </div>
</nav>




<header class="w3-container w3-center" style="padding:128px 16px" id="photo">
 <div class="w3-padding-32 w3-content" id="portfolio">
    <h2 class="w3-text-grey">PHOTOS</h2>
    <hr class="w3-opacity">

    <div class="w3-main w3-padding-large" style="margin-left:40%">

 
        <span class="w3-button w3-top w3-white w3-xxlarge w3-text-grey w3-hover-text-black" style="width:auto;right:0;" onclick="openNav()"><i class="fa fa-bars"></i></span>
      
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="https://cdn.pixabay.com/photo/2016/01/03/17/59/bananas-1119790_960_720.jpg" style="width:100%">
        <img src="https://cdn.pixabay.com/photo/2017/01/20/15/06/orange-1995056_960_720.jpg" style="width:100%">
        <img src="https://cdn.pixabay.com/photo/2013/10/01/16/39/fruit-189246_960_720.jpg" style="width:100%">
      </div>

      <div class="w3-half">
        <img src="https://cdn.pixabay.com/photo/2018/05/08/20/19/pomegranate-3383814_960_720.jpg" style="width:100%">
        <img src="https://cdn.pixabay.com/photo/2015/03/26/09/40/blueberries-690072_960_720.jpg" style="width:100%">
        <img src="https://cdn.pixabay.com/photo/2017/02/19/09/20/fig-2079166_960_720.jpg" style="width:100%">
        
      </div>
   
    </div>
  
  </div>
</header>

  
<script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "60%";
      document.getElementById("mySidebar").style.display = "block";
    }
    
    function closeNav() {
      document.getElementById("mySidebar").style.display = "none";
    }
    </script>
    
    </body>
    </html>
    
